:root {
    --border-color: black;
    --image-width: 150px;
    --border-size: 1px;
    --padding: 2px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: var(--image-width);
    height: auto;
    border: var(--border-size) solid var(--border-color);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 850px;
}

main img {
    width: var(--image-width);
    height: auto;
    border: var(--border-size) solid var(--border-color);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

aside {
    width: 500px;
    margin: 10px 20px;
    border: var(--border-size) solid var(--border-color);
    padding: var(--padding) 10px;
    background-color: #568203;
    color: antiquewhite;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border-size) solid grey;
    text-align: center;
}